<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign page_paths = site.pages | map: "path" -%}
    {%- if page.url contains "/en/" -%}
      <a class="site-title" rel="author" href="{{ "/en/" | relative_url }}">{{ site.title | escape }}</a>
    {%- else -%}
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    {%- endif -%}
    <a class="site-undertitle" href="{{ site.friendsURL }}"><br/>...{{ site.undertitle | escape }}</a>

    {%- if page_paths -%}
      <nav class="site-nav">
        <div class="trigger">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title == "Galerie" -%}
              {%- unless page.url contains "/en/" -%}
                {%- if page.title == "Galerie" -%}
                  <a class="page-link" href="{{ "/" | relative_url }}">{{ "Home" | escape }}</a>
                {%- else -%}
                  <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                {%- endif -%}  
              {%- endunless -%}
            {%- elsif my_page.title == "Gallery" and page.url contains "/en/" -%}
              {%- if page.title == "Gallery" -%}
                <a class="page-link" href="{{ "/en/" | relative_url }}">{{ "Home" | escape }}</a>
              {%- else -%}
                <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>
